<section>
  <div class="row">
    <div class="three columns">
      <br><br><br>
      <img class="profile-pic" src="../img/logo-mini.jpg" alt="Lucky House" />
    </div>

    <div class="nine columns main-col">

      <div lang="en">
        <h1>Wen-Hsuan Lucky Chang</h1><br>
        <h2>About Me</h2>
        <p style="margin-top: 20px;">
          I have a profound love for nature, particularly mountains, as they provide a captivating connection to the natural world. During my student years, I cultivated a tradition of monthly hikes with our research group, even hosting François Bouchet, a cosmologist from IAP Paris, for a memorable hike up Mount Qixing.
        </p><p style="margin-top:-15px;">
          In addition to exploring suburban mountains, I've trekked some of the world's famous routes, including Camino de Santiago in Spain, the Holy Ridge in Taiwan, Tsurugi-dake Traverse in Japan, and Mauna Loa in Hawaii.
        </p><p style="margin-top:-15px;">
          On another note, my fascination extends to the night sky. Working as a cosmologist investigating the origins of our universe is a passion, fueled by the calming effect of stars glittering in the dark expanse. During my time as an operator at the AMiBA site in Hawaii, I often found solace in gazing at the night sky, capturing galaxies and nebulae through my camera lens. This passion began during my undergraduate years when I led the Astronomy Club at National Tsing Hua University.
        </p><p style="margin-top:-15px;">
          Motivated by my love for the night sky, I've actively supported various stargazing events and engaged in public outreach to share scientific knowledge. Volunteering for popular science promotion, particularly during amateur telescope making camps directed by Professor Jiun-Huei Proty Wu, has been a rewarding experience. In these camps, participants, spanning from children to adults, learn to craft their telescopes using simple materials and techniques.
        </p><p style="margin-top:-15px;">
          I've also had the privilege of delivering public talks, invited by student associations from high schools to universities. Sharing my knowledge brings me immense joy, aligning with my advisor's wise words: "What is taken from society is used in the interests of society."
        </p>
        <div class="row">
          <div class="six columns">
            <h2>Contact Information</h2>
            <p class="address">
              <span><a href="https://www.getexpo.com/" target="_blank">Expo</a></span><br>
              <span><a href="mailto:wenhsuan@getexpo.com" target="_blank">wenhsuan@getexpo.com</a></span><br>
              <span><a href="tel:+886958479701" target="_blank">+886 (0)958-479701</a></span>
            </p>
          </div>
        </div>
      </div>

      <div lang="zh">
        <h1>張文軒（Lucky Chang）</h1><br>
        <h2>關於我</h2>
        <p style="margin-top: 20px;">
          我是探索者，也是說故事的人。在過去漫長的歲月裡，我用心潛修，努力學習所謂科學知識理解大自然。我登山，我觀星，我旅行，我研究宇宙從何而生、又將如何消亡。我思索存在的意義和目標，並在短暫而渺小的生命裡，理解痛苦，尋求自在，努力朝真理邁出一小步。
        </p><p style="margin-top:-15px;">
          我時常在週末或假日去健行，也為我的研究小組建立每月爬山的傳統，並邀請來台參加會議的宇宙學家 François Bouchet 到七星山及太魯閣健行。除了郊山以外，我也攀登台灣百岳、日本百名山、毛納羅亞（夏威夷）等高山，更走過一段追尋耶穌門徒聖雅各的朝聖者之路，如果有機會，我希望有幸能走訪地球上更多角落，步上那些擁有深刻故事的步道。
        </p><p style="margin-top:-15px;">
          在夏威夷擔任天文台操作員時，我喜歡獨自凝望夜空，看見星星在黑夜閃爍，會覺得平靜又心安。有時候，我會架起相機捕捉美麗的深空天體。在大學畢業前，我便迷戀天文攝影，並加入天文社擔任一年社長。帶領社團的過程中，我籌辦並且支援觀星活動，我發現將天文與科學的知識分享給普羅大眾，會感到滿足與快樂，促使我投入更多心思在科學普及教育。
        </p>
        <div class="row">
          <div class="six columns">
            <h2>聯絡資訊</h2>
            <p class="address">
              <span><a href="https://www.getexpo.com/" target="_blank">Expo</a></span><br>
              <span><a href="mailto:wenhsuan@getexpo.com" target="_blank">wenhsuan@getexpo.com</a></span><br>
              <span><a href="tel:+886958479701" target="_blank">+886 (0)958-479701</a></span>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>