<div lang="en" class="language-content">
  <div class="row work">
    <div class="three columns header-col">
      <h1><span>Academia</span></h1>
    </div>

    <div class="nine columns main-col">

      <!-- National Taiwan University -->
      <div class="row item">
        <div class="twelve columns">
          <h3>National Taiwan University</h3>

          <!-- Research Assistant -->
          <p class="info">Research Assistant in Department of Physics <span>&bull;</span> <em class="date">September 2011 - July 2019</em></p>

          <h6 data-toggle="collapse">
            <dl>
              <dt>Loop Quantum Cosmology (LQC)</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            This is the theme of my doctoral research. My innovative framework enables me to probe the universe that pre-existed before the Big Bang under the context of LQC. <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>Array for Microwave Background Anisotropy (AMiBA)</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            I probed the early universe by analyzing the observational data from AMiBA. I also visited Hawaii three times, one to two months each time, for on-site operation and observation. <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>Edison-based Maker Project with Intel Corporation Taiwan</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            In this project, we developed a working product called Protison, a mobile astrophotography module, which enabled people to take astronomical pictures through a telescope by a simple web camera remotely controlled by a mobile phone. <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>Light-field Camera with Lite-On IT Corporation</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            We developed the first generation of a light-field camera which can refocus photos after they were taken. We worked on both user interface and optical experiment. <br>
          </div>

          <p></p>

          <!-- Teaching Assistant -->
          <p class="info">Teaching Assistant in Department of Physics <span>&bull;</span> <em class="date">September 2011 - June 2016</em></p>

          <h6 data-toggle="collapse">
            <dl>
              <dt>Applied Mathematics</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            Lectured by Prof. Jiun-Huei Proty Wu for juniors in Fall 2011 and Fall 2012, and for sophomores in Fall 2015. <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>Mechanics</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            Lectured by Prof. Hsi-Sheng Goan for sophomores in Spring 2013, Fall 2013, and Spring 2014. <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>Electricity and Magnetism</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            Lectured by Prof. Yih-Yuh Chen for sophomores in Fall 2015 and Spring 2016. <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>Statistical Physics</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            Lectured by Prof. Guang-Yu Guo for graduates in Fall 2014 and Fall 2015. <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>General Relativity</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            Lectured by Prof. Yih-Yuh Chen for graduates in Spring 2016. <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>Cosmology</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            Lectured by Prof. Jiun-Huei Proty Wu for graduates in Fall 2012, Fall 2013, and Fall 2014. <br>
          </div>

          <p></p>
        </div>
      </div>

    </div>
  </div>
</div>

<div lang="zh" class="language-content">
  <div class="row work">
    <div class="three columns header-col">
      <h1><span>學術研究</span></h1>
    </div>

    <div class="nine columns main-col">

      <!-- 國立臺灣大學 -->
      <div class="row item">
        <div class="twelve columns">
          <h3>國立臺灣大學</h3>

          <!-- 物理學系研究助理 -->
          <p class="info">物理學系研究助理 <span>&bull;</span> <em class="date">2011 年 9 月 - 2019 年 7 月</em></p>

          <h6 data-toggle="collapse">
            <dl>
              <dt>迴圈量子宇宙學</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            這是我的博士研究主題。我在迴圈量子宇宙學的框架下，建立了一套創新的計算流程，探索大霹靂之前的宇宙樣貌。<br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>李遠哲陣列望遠鏡計劃 (AMiBA)</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            我透過分析 AMiBA 的觀測資料研究早期宇宙的樣貌，並三次前往夏威夷，每次為期一至兩個月，參與現場操作與觀測。<br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>與英特爾台灣的愛迪生專案合作</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            在這個專案中，我們開發了一個名為 Protison 的行動天文攝影模組，讓使用者能透過簡單的網路攝影機及手機遙控拍攝天文照片。<br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>與光寶科技的光場相機專案合作</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            我們開發了第一代光場相機，這是一種可在拍攝後重新對焦的攝影設備。我們負責使用者介面設計與光學實驗測試。<br>
          </div>

          <p></p>

          <!-- 物理學系教學助理 -->
          <p class="info">物理學系教學助理 <span>&bull;</span> <em class="date">2011 年 9 月 - 2016 年 6 月</em></p>

          <h6 data-toggle="collapse">
            <dl>
              <dt>應用數學</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            由吳俊輝教授於 2011 和 2012 年秋季為大三學生授課，2015 年秋季為大二學生授課。<br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>力學</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            由管希聖教授於 2013 年春季、2013 年秋季及 2014 年春季為大二學生授課。<br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>電磁學</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            由陳義裕教授於 2015 年秋季及 2016 年春季為大二學生授課。<br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>統計物理</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            由郭光宇教授於 2014 和 2015 年秋季為研究生授課。<br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>廣義相對論</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            由陳義裕教授於 2016 年春季為研究生授課。<br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>宇宙學</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            由吳俊輝教授於 2012、2013 和 2014 年秋季為研究生授課。<br>
          </div>

          <p></p>
        </div>
      </div>

    </div>
  </div>
</div>