<div lang="en" class="language-content">
  <div class="row work">
    <div class="three columns header-col">
      <h1><span>Business</span></h1>
    </div>

    <div class="nine columns main-col">

      <!-- Pared Inc. -->
      <div class="row item">
        <div class="twelve columns">
          <h3>Pared Inc. (dba Expo)</h3>

          <!-- Full Stack AI Engineer -->
          <p class="info">Full Stack AI Software Engineer <span>&bull;</span> <em class="date">Since May 2024</em></p>

          <p></p>
        </div>
      </div>

      <!-- Universe Resources Technology Co. Ltd. -->
      <div class="row item">
        <div class="twelve columns">
          <h3>Universe Resources Technology Co. Ltd.</h3>

          <!-- Research and Development Manager -->
          <p class="info">
            Research and Development Manager <span>&bull;</span> <em class="date">February 2022 - May 2024</em>
          </p>

          <h6 data-toggle="collapse">
            <dl>
              <dt>Software Design and Development</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            Designing software based on customer requirements or project specifications <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>Software Project Management</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            Supervising programmers to complete scripts and software <br>
            Managing the progress of projects <br>
          </div>

          <p></p>

          <!-- Lead Scientist -->
          <p class="info">
            Lead Scientist <span>&bull;</span> <em class="date">October 2021 - May 2024</em>
          </p>

          <h6>
            <dl>
              <dt>Geophysical Exploration Theory and Instruments</dt>
            </dl>
          </h6>

          <h6>
            <dl>
              <dt>GIS and Geophysical Data Analysis</dt>
            </dl>
          </h6>

          <h6 data-toggle="collapse">
            <dl>
              <dt>Deep Learning for Ore Deposit Distribution Modeling</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            Utilizing deep learning techniques to construct models for predicting ore distributions <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>Remote Sensing and UAV Operation</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            Operate an unmanned aerial vehicle <br>
          </div>

          <p></p>
        </div>
      </div>

      <!-- Cosmos Wanderer Studio -->
      <div class="row item">
        <div class="twelve columns">
          <h3>Cosmos Wanderer Studio</h3>

          <!-- Cofounder, Writer, and Photographer -->
          <p class="info">
            Cofounder, Writer and Photographer <span>&bull;</span> <em class="date">February 2019 - December 2022</em>
          </p>
          
          <h6 data-toggle="collapse">
            <dl>
              <dt>Outdoor Education Instructor, Decathlon Events (Decathlon Taiwan Co. Ltd.)</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            Conducting outdoor lectures monthly <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>Contributing Editor, Hiking Biji (The Note Co. Ltd.)</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            Constructing mountain trail database <br>
            Promoting Long-distance Trail (Taiwan Thousand Miles Trail Association) <br>
            Developing travel information for the forestry regional trail (Forestry Bureau) <br>
            Inventorying Hakka Township Tourism Resources (Hakka Affairs Council) <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>Cultural Correspondent, Cultural Affairs Bureau of New Taipei City</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            Reporting cultural events organized by the city government <br>
            Investigating Traditional Industry in Sanchong and Luzhou <br>
          </div>

          <p></p>
        </div>
      </div>

    </div>
  </div>
</div>

<div lang="zh" class="language-content">
  <div class="row work">
    <div class="three columns header-col">
      <h1><span>業界工作</span></h1>
    </div>

    <div class="nine columns main-col">

      <!-- Pared Inc. -->
      <div class="row item">
        <div class="twelve columns">
          <h3>Pared Inc. (dba Expo)</h3>

          <!-- 全端人工智慧軟體工程師 -->
          <p class="info">全端人工智慧軟體工程師 <span>&bull;</span> <em class="date">2024 年 5 月至今</em></p>

          <p></p>
        </div>
      </div>

      <!-- 十方資源科技股份有限公司 -->
      <div class="row item">
        <div class="twelve columns">
          <h3>十方資源科技股份有限公司</h3>

          <!-- 研發部門經理 -->
          <p class="info">
            研發部門經理 <span>&bull;</span> <em class="date">2022 年 2 月 - 2024 年 5 月</em>
          </p>

          <h6 data-toggle="collapse">
            <dl>
              <dt>軟體設計與開發</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            根據客戶需求或專案規格設計軟體 <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>軟體專案管理</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            監督程式員完成腳本與軟體 <br>
            管理專案進度 <br>
          </div>

          <p></p>

          <!-- 首席科學家 -->
          <p class="info">
            首席科學家 <span>&bull;</span> <em class="date">2021 年 10 月 - 2024 年 5 月</em>
          </p>

          <h6>
            <dl>
              <dt>地球物理探勘理論與儀器</dt>
            </dl>
          </h6>

          <h6>
            <dl>
              <dt>地理資訊系統與地球物理數據分析</dt>
            </dl>
          </h6>

          <h6 data-toggle="collapse">
            <dl>
              <dt>深度學習應用於礦床分布建模</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            利用深度學習技術構建礦床分布預測模型 <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>遙感與無人機操作</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            操作無人機執行任務 <br>
          </div>

          <p></p>
        </div>
      </div>

      <!-- 宇宙浪人工作室 -->
      <div class="row item">
        <div class="twelve columns">
          <h3>宇宙浪人工作室</h3>

          <!-- 共同創辦人、編輯兼攝影師 -->
          <p class="info">
            共同創辦人、編輯兼攝影師 <span>&bull;</span> <em class="date">2019 年 2 月 - 2022 年 12 月</em>
          </p>
          
          <h6 data-toggle="collapse">
            <dl>
              <dt>戶外教育講師（Decathlon Taiwan Co. Ltd.）</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            每月舉辦戶外課程 <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>健行筆記特約編輯（The Note Co. Ltd.）</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            建立山徑步道資料庫 <br>
            推廣長距離步道（台灣千里步道協會）<br>
            開發林務局區域步道旅行資訊 <br>
            客家委員會地方資源調查 <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>新北市政府文化特派員</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            報導新北市政府舉辦的文化活動 <br>
            研究三重與蘆洲的傳統產業 <br>
          </div>

          <p></p>
        </div>
      </div>

    </div>
  </div>
</div>