<div lang="en" class="language-content">
  <div class="row education">
    <div class="three columns header-col">
      <h1><span>Education</span></h1>
    </div>

    <div class="nine columns main-col">

      <!-- National Taiwan University -->
      <div class="row item">
        <div class="twelve columns" style="text-align: left;">
          <h3>National Taiwan University</h3>
          <p class="info">Ph.D. in Physics <span>&bull;</span> <em class="date">June 2019</em></p>
          <dl>
            <dd>
              <p>
                <strong><u>Thesis title</u>:</strong>
                <a href="https://hdl.handle.net/11296/924j69" target="_blank">
                  "Probing 'Parent Universe' in Loop Quantum Cosmology with B-mode Polarization in Cosmic Microwave Background"
                </a>
                <br>
                <strong><u>Thesis advisor</strong></u>:
                <a href="https://www.phys.ntu.edu.tw/enphysics/jhpw.html" target="_blank">Prof. Jiun-Huei Proty Wu</a>
              </p>
            </dd>
          </dl>
        </div>
      </div>

      <!-- National Tsing Hua University -->
      <div class="row item">
        <div class="twelve columns" style="text-align: left;">
          <h3>National Tsing Hua University</h3>
          <p class="info">B.Sc. in Physics <span>&bull;</span> <em class="date">June 2011</em></p>
          <dl>
            <dd>
              <p>
                <strong><u>Laboratory</u>:</strong> Astrophysics Laboratory<br>
                <strong><u>Mentor</strong></u>:
                <a href="https://phys.site.nthu.edu.tw/p/406-1335-58807,r3581.php?Lang=en" target="_blank">Prof. Dean-Yi Chou</a>
                <br>
                <strong><u>Research topics</u>:</strong>
                <br>
                -- "Bragg Diffraction of Microwaves" (Advisor:
                <a href="#" target="_blank">Prof. Chwung-Shan Kou</a>)<br>
                -- "Measuring Adhesion Force by an Atomic Force Microscope" (Advisor:
                <a href="#" target="_blank">Prof. Rong-Li Lo</a>)
              </p>
            </dd>
          </dl>
        </div>
      </div>

    </div>
  </div>
</div>

<div lang="zh" class="language-content">
  <div class="row education">
    <div class="three columns header-col">
      <h1><span>教育背景</span></h1>
    </div>

    <div class="nine columns main-col">

      <!-- 國立臺灣大學 -->
      <div class="row item">
        <div class="twelve columns" style="text-align: left;">
          <h3>國立臺灣大學</h3>
          <p class="info">物理學博士 <span>&bull;</span> <em class="date">2019 年 6 月</em></p>
          <dl>
            <dd>
              <p>
                <strong><u>論文題目</u>：</strong><a href="https://hdl.handle.net/11296/924j69" target="_blank">「以宇宙微波背景 B 模偏振探索迴圈量子宇宙學中的『前世宇宙』」</a>
                <br>
                <strong><u>論文指導教授</strong></u>：<a href="https://www.phys.ntu.edu.tw/jhpw.html" target="_blank">吳俊輝教授</a>
              </p>
            </dd>
          </dl>
        </div>
      </div>

      <!-- 國立清華大學 -->
      <div class="row item">
        <div class="twelve columns" style="text-align: left;">
          <h3>國立清華大學</h3>
          <p class="info">物理學學士 <span>&bull;</span> <em class="date">2011 年 6 月</em></p>
          <dl>
            <dd>
              <p>
                <strong><u>研究室</u>：</strong>天文物理實驗室<br>
                <strong><u>指導教授</strong></u>：<a href="https://phys.site.nthu.edu.tw/p/406-1335-58807,r3581.php?Lang=zh-tw" target="_blank">周定一教授</a>
                <br>
                <strong><u>研究主題</u>：</strong>
                <br>
                -- 「微波布拉格繞射的研究」(指導教授：<a href="#" target="_blank">寇崇善教授</a>)<br>
                -- 「以原子力顯微鏡測量黏著力」(指導教授：<a href="#" target="_blank">羅榮立教授</a>)
              </p>
            </dd>
          </dl>
        </div>
      </div>

    </div>
  </div>
</div>