<div class="row">
  <div class="twelve columns">
    <ul class="social-links">
      <li><a href="https://www.facebook.com/whlchang" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/lwh_chang" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.linkedin.com/in/whlchang/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    </ul>
    <ul class="copyright">
      <li>
        Made by <a href="https://www.facebook.com/whlchang" target="_blank">Lucky Chang</a>
        with the template designed by <a title="Styleshout" href="http://www.styleshout.com/" target="_blank">Styleshout</a>.<br>
        Copyright &copy; 2014 CeeVee. All Rights Reserved.
      </li>
    </ul>
  </div>
  <!-- <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#about"><i class="icon-up-open"></i></a></div> -->
</div>