<div lang="en" class="language-content">
  <div class="row work">
    <div class="three columns header-col">
      <h1><span>Student Club</span></h1>
    </div>

    <div class="nine columns main-col">

      <!-- National Taichung University of Education -->
      <div class="row item">
        <div class="twelve columns">
          <h3>National Taichung University of Education</h3>

          <!-- Faculty Advisor of Astronomy Research Club -->
          <p class="info">Faculty Advisor of Astronomy Research Club <span>&bull;</span> <em class="date">September 2020 - June 2022</em></p>

          <p></p>
        </div>
      </div>

      <!-- National Taiwan University -->
      <div class="row item">
        <div class="twelve columns">
          <h3>National Taiwan University</h3>

          <!-- Lecturer of Space Science Society -->
          <p class="info">Lecturer of Space Science Society <span>&bull;</span> <em class="date">September 2013 - June 2018</em></p>

          <h6 data-toggle="collapse">
            <dl>
              <dt>Lectures for Student Clubs</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            Space Science Society, National Taiwan University <br>
            Astronomy Club, Hsinchu Girls' Senior High School <br>
            Science Club, Changhua Girls' Senior High School <br>
            Astronomy Association, Taoyuan Senior High School <br>
            Taiwan Astronomy Club Union <br>
          </div>

          <p></p>
        </div>
      </div>

      <!-- National Tsing Hua University -->
      <div class="row item">
        <div class="twelve columns">
          <h3>National Tsing Hua University</h3>

          <!-- President of Astronomy Club -->
          <p class="info">President of Astronomy Club <span>&bull;</span> <em class="date">July 2009 - June 2010</em></p>

          <h6 data-toggle="collapse">
            <dl>
              <dt>Observations</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            Solar Eclipse at Chien Kung Senior High School <br>
            Star Party at Cuifeng Car Park <br>
            Solar Eclipse at Nanliao Fish Port <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>Educational Activities</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            Freshman Camping at Emei Elementary School <br>
            Winter Training in Daxueshan Forest Recreation Area <br>
            <a href="http://my.nthu.edu.tw/~res9202/astrocamp/2010/" target="_blank">NTHU Starkids Astronomy Camp</a> <br>
          </div>

          <p></p>

          <!-- Vice President of Astronomy Club -->
          <p class="info">Instrument Manager of Astronomy Club <span>&bull;</span> <em class="date">July 2008 - June 2009</em></p>

          <h6 data-toggle="collapse">
            <dl>
              <dt>Observations</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            Star Party at Cuifeng Car Park <br>
            Midterm Observation at Xinle Elementary School <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>Educational Activities</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            Winter Training on the Southern Cross-island Hwy <br>
            <a href="http://my.nthu.edu.tw/~res9202/astrocamp/2009/camp2009/" target="_blank">NTHU Starkids Astronomy Camp</a> <br>
          </div>

          <p></p>
        </div>
      </div>

      <!-- Hui Wen High School -->
      <div class="row item">
        <div class="twelve columns">
          <h3>Hui Wen High School</h3>

          <!-- Instrument Manager of Astronomy Club -->
          <p class="info">Instrument Manager of Astronomy Club <span>&bull;</span> <em class="date">September 2005 - June 2006</em></p>

          <p></p>
        </div>
      </div>

    </div>
  </div>
</div>

<div lang="zh" class="language-content">
  <div class="row work">
    <div class="three columns header-col">
      <h1><span>學生社團</span></h1>
    </div>

    <div class="nine columns main-col">

      <!-- 國立臺中教育大學 -->
      <div class="row item">
        <div class="twelve columns">
          <h3>國立臺中教育大學</h3>

          <!-- 天文研究社指導老師 -->
          <p class="info">天文研究社指導老師 <span>&bull;</span> <em class="date">2020 年 9 月 - 2022 年 6 月</em></p>

          <p></p>
        </div>
      </div>

      <!-- 國立臺灣大學 -->
      <div class="row item">
        <div class="twelve columns">
          <h3>國立臺灣大學</h3>

          <!-- 太空科學研究社講師 -->
          <p class="info">太空科學研究社講師 <span>&bull;</span> <em class="date">2013 年 9 月 - 2018 年 6 月</em></p>

          <h6 data-toggle="collapse">
            <dl>
              <dt>學生社團講座</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            國立臺灣大學太空科學研究社 <br>
            新竹女中天文社 <br>
            彰化女中科學研究社 <br>
            桃園高中天文學會 <br>
            台灣天文社團聯合會 <br>
          </div>

          <p></p>
        </div>
      </div>

      <!-- 國立清華大學 -->
      <div class="row item">
        <div class="twelve columns">
          <h3>國立清華大學</h3>

          <!-- 天文研究社社長 -->
          <p class="info">天文研究社社長 <span>&bull;</span> <em class="date">2009 年 7 月 - 2010 年 6 月</em></p>

          <h6 data-toggle="collapse">
            <dl>
              <dt>觀測活動</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            日食觀測（建功高中） <br>
            星空派對（翠峰停車場） <br>
            日食觀測（南寮漁港） <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>教育活動</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            新生訓練營（峨眉國小） <br>
            冬季天文訓練（大雪山國家森林遊樂區） <br>
            <a href="http://my.nthu.edu.tw/~res9202/astrocamp/2010/" target="_blank">清華星空之子天文營</a> <br>
          </div>

          <p></p>

          <!-- 天文研究社器材經理 -->
          <p class="info">天文研究社器材經理 <span>&bull;</span> <em class="date">2008 年 7 月 - 2009 年 6 月</em></p>

          <h6 data-toggle="collapse">
            <dl>
              <dt>觀測活動</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            星空派對（翠峰停車場） <br>
            期中觀測（新樂國小） <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>教育活動</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            冬季天文訓練（南橫公路） <br>
            <a href="http://my.nthu.edu.tw/~res9202/astrocamp/2009/camp2009/" target="_blank">清華星空之子天文營</a> <br>
          </div>

          <p></p>
        </div>
      </div>

      <!-- 臺中市惠文高中 -->
      <div class="row item">
        <div class="twelve columns">
          <h3>臺中市惠文高中</h3>

          <!-- 天文社器材經理 -->
          <p class="info">天文社器材經理 <span>&bull;</span> <em class="date">2005 年 9 月 - 2006 年 6 月</em></p>

          <p></p>
        </div>
      </div>

    </div>
  </div>
</div>