<div lang="en" class="language-content">
  <div class="row skill">
    <div class="three columns header-col">
      <h1><span>Volunteer</span></h1>
    </div>

    <div class="nine columns main-col">

      <!-- American Institute in Taiwan -->
      <div class="row item">
        <div class="twelve columns">
          <h3>American Institute in Taiwan</h3>

          <!-- Preliminary Judge -->
          <p class="info">Preliminary Judge <span>&bull;</span> <em class="date">October 2019</em></p>

          <h6>
            <dl>
              <dt>The Third NASA Hackathon Taiwan</dt>
            </dl>
          </h6>

          <p></p>

          <!-- Photographer -->
          <p class="info">Photographer <span>&bull;</span> <em class="date">April 2017</em></p>

          <h6>
            <dl>
              <dt>The First NASA Hackathon Taiwan</dt>
            </dl>
          </h6>

          <p></p>
        </div>
      </div>

      <!-- Proty's Team of Amateur Telescope Maker -->
      <div class="row item">
        <div class="twelve columns">
          <h3>Proty's Team of Amateur Telescope Maker</h3>

          <!-- Teaching Assistant -->
          <p class="info">Teaching Assistant <span>&bull;</span> <em class="date">September 2012 - December 2016</em></p>

          <h6 data-toggle="collapse">
            <dl>
              <dt>200-millimeter Telescope Making Camp</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            <h6>Held by "BBC Knowledge Taiwan" magazine</h6>
              December 2016 at Chengyuan High School. <br>
              December 2014 at Chengyuan High School. <br>
              December 2013 at Chengyuan High School. <br>
            <h6>Held by "Scientific American Taiwan" magazine</h6>
              April 2015 at Huashan 1914 Creative Park. <br>
              August 2013 at Huashan 1914 Creative Park. <br>
            <h6>Held by Tainan Astronomical Education Area</h6>
              March 2014 at Tainan Astronomical Education Area. <br>
            <h6>Held by Taipei Amateur Astronomers Association</h6>
              September 2012 at Taipei Astronomical Museum. <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>114-millimeter Telescope Making Camp</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            <h6>Held by "BBC Knowledge Taiwan" magazine</h6>
              May 2013 at Taichung Girls' Senior High School. <br>
              March 2013 at Dunhua Junior High School. <br>
              September 2012 at China Youth Corps Taipei. <br>
            <h6>Held by "Scientific American Taiwan" magazine</h6>
              January 2015 at Huashan 1914 Creative Park. <br>
              November 2013 at Huashan 1914 Creative Park. <br>
              March 2013 at Huashan 1914 Creative Park. <br>
          </div>

          <p></p>
        </div>
      </div>

      <!-- Mount Phoenix Observatory -->
      <div class="row item">
        <div class="twelve columns">
          <h3>Mount Phoenix Observatory (MPO)</h3>

          <!-- Observatory Guide and Operator -->
          <p class="info">Observatory Guide and Operator <span>&bull;</span> <em class="date">January 2013 - January 2016</em></p>

          <h6 data-toggle="collapse">
            <dl>
              <dt>Regular Activities</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            January 2016, BBC Winter Astronomy Camp <br>
            August 2014, Wu Chien-Shiung Science Camp <br>
            July 2014, BBC Summer Astronomy Camp <br>
            January 2014, BBC Winter Astronomy Camp <br>
            August 2013, Wu Chien-Shiung Science Camp <br>
            July 2013, BBC Summer Astronomy Camp <br>
            January 2013, BBC Winter Astronomy Camp <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>Other Individual Events</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            May 2015, NTU Spring+ Program <br>
            May 2014, Annual Meeting of the Astronomical Society of Taiwan <br>
            October 2013, Meeting of National Science Council <br>
          </div>

          <p></p>
        </div>
      </div>

      <!-- Cite Publishing Co. Ltd. -->
      <div class="row item">
        <div class="twelve columns">
          <h3>Cite Publishing Co. Ltd.</h3>

          <!-- Invited Speaker -->
          <p class="info">Invited Speaker of "Lonely Planet Taiwan" <span>&bull;</span> <em class="date">December 2014</em></p>

          <h6>
            <dl>
              <dt>Go Camping with Lonely Planet</dt>
            </dl>
          </h6>
          
          <p></p>
        </div>
      </div>

    </div>
  </div>
</div>

<div lang="zh" class="language-content">
  <div class="row skill">
    <div class="three columns header-col">
      <h1><span>志工經歷</span></h1>
    </div>

    <div class="nine columns main-col">

      <!-- 美國在台協會 -->
      <div class="row item">
        <div class="twelve columns">
          <h3>美國在台協會</h3>

          <!-- 初選評審 -->
          <p class="info">初選評審 <span>&bull;</span> <em class="date">2019 年 10 月</em></p>

          <h6>
            <dl>
              <dt>第三屆臺灣 NASA 黑克松</dt>
            </dl>
          </h6>

          <p></p>

          <!-- 特約攝影師 -->
          <p class="info">特約攝影師 <span>&bull;</span> <em class="date">2017 年 4 月</em></p>

          <h6>
            <dl>
              <dt>第一屆臺灣 NASA 黑克松</dt>
            </dl>
          </h6>

          <p></p>
        </div>
      </div>

      <!-- 吳俊輝望遠鏡 DIY 志工團 -->
      <div class="row item">
        <div class="twelve columns">
          <h3>吳俊輝望遠鏡 DIY 志工團</h3>

          <!-- 教學助理 -->
          <p class="info">教學助理 <span>&bull;</span> <em class="date">2012 年 9 月 - 2016 年 12 月</em></p>

          <h6 data-toggle="collapse">
            <dl>
              <dt>20 公分望遠鏡手作營</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            <h6>由《BBC 知識》雜誌舉辦</h6>
              2016 年 12 月，台北市立成淵高中 <br>
              2014 年 12 月，台北市立成淵高中 <br>
              2013 年 12 月，台北市立成淵高中 <br>
            <h6>由《科學人》雜誌舉辦</h6>
              2015 年 4 月，華山 1914 文創園區 <br>
              2013 年 8 月，華山 1914 文創園區 <br>
            <h6>由台南天文教育園區舉辦</h6>
              2014 年 3 月，台南天文教育園區 <br>
            <h6>由台北市天文協會舉辦</h6>
              2012 年 9 月，台北市天文館 <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>11.4 公分望遠鏡手作營</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            <h6>由《BBC 知識》雜誌舉辦</h6>
              2013 年 5 月，國立台中女中 <br>
              2013 年 3 月，台北市立敦化國中 <br>
              2012 年 9 月，救國團台北 <br>
            <h6>由《科學人》雜誌舉辦</h6>
              2015 年 1 月，華山 1914 文創園區 <br>
              2013 年 11 月，華山 1914 文創園區 <br>
              2013 年 3 月，華山 1914 文創園區 <br>
          </div>

          <p></p>
        </div>
      </div>

      <!-- 鳳凰山天文台 -->
      <div class="row item">
        <div class="twelve columns">
          <h3>鳳凰山天文台</h3>

          <!-- 天文台導覽員 -->
          <p class="info">天文台導覽員 <span>&bull;</span> <em class="date">2013 年 1 月 - 2016 年 1 月</em></p>

          <h6 data-toggle="collapse">
            <dl>
              <dt>定期活動</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            2016 年 1 月，BBC 冬季天文營 <br>
            2014 年 8 月，吳健雄科學營 <br>
            2014 年 7 月，BBC 夏季天文營 <br>
            2014 年 1 月，BBC 冬季天文營 <br>
            2013 年 8 月，吳健雄科學營 <br>
            2013 年 7 月，BBC 夏季天文營 <br>
            2013 年 1 月，BBC 冬季天文營 <br>
          </div>

          <h6 data-toggle="collapse">
            <dl>
              <dt>其它個別活動</dt>
            </dl>
          </h6>
          <div class="collapsible-content">
            2015 年 5 月，國立台灣大學 Spring+ 計劃 <br>
            2014 年 5 月，台灣天文年會 <br>
            2013 年 10 月，國科會會議 <br>
          </div>

          <p></p>
        </div>
      </div>

      <!-- 城邦出版集團 -->
      <div class="row item">
        <div class="twelve columns">
          <h3>城邦出版集團</h3>

          <!-- 特邀講師 -->
          <p class="info">《孤獨星球》雜誌特邀講師 <span>&bull;</span> <em class="date">2014 年 12 月</em></p>

          <h6>
            <dl>
              <dt>跟著《孤獨星球》去露營</dt>
            </dl>
          </h6>
          
          <p></p>
        </div>
      </div>

    </div>
  </div>
</div>