ul#nav:before,
ul#nav:after {
    content: "";
    display: table;
}

ul#nav:after {
    clear: both;
}

ul#nav li:hover > a {
    background-color:rgba(85, 55, 85, 0.80);
    cursor: pointer;
}

*html ul#nav li a:hover { /* IE6 only */
    background-color:rgba(85, 55, 85, 0.80);
    cursor: pointer;
}

ul#nav ul {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    transition: all .2s ease-in-out;
}

ul#nav li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

ul#nav ul li {
    text-align: left !important;
    float: none;
    display: block;
}

ul#nav ul a {
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

@media only screen and (max-width: 767px) {

    #nav-wrap ul#nav ul {
        opacity: 0;
        visibility: hidden;
        position: block;
        transition: all .2s ease-in-out;
        z-index: 102;
        clear: both;
        float: right;
        right: 160px;
    }
    
    #nav-wrap ul#nav li:hover > ul {
        opacity: 1;
        visibility: visible;
        margin: 0;
    }

    #nav-wrap ul#nav ul#gallery {
        top: 188px;
    }

    #nav-wrap ul#nav ul#blog {
        top: 237px;
    }

    #nav-wrap ul#nav ul#work {
        top: 335px;
    }

}

@media (max-width: 480px) {

    #nav-wrap ul#nav {
         height: auto;
         display: none;
         clear: both;
         width: auto;
         position: relative;
         top: 12px;
    }

    #nav-wrap ul#nav ul {
        opacity: 0;
        visibility: hidden;
        position: block;
        transition: all .2s ease-in-out;
        z-index: 102;
        clear: both;
        float: right;
        right: 30px;
    }

}