<div class="row" id="old-formosa">
  <div lang="en"> 
    <h3>Old Time Formosa</h3>
  </div>
  <div lang="zh"> 
    <h3>福爾摩沙舊時光</h3>
  </div>

  <div id="fh5co-board" data-columns>
    
    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="221021/image/20221001_145408_RaknusSelu_3kp.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>重返樟之細路：再唱一段老山歌</strong><br>
        樟之細路在變，人也在變，而這也是為什麼我們會懷念從前。風從西邊的溪谷吹拂上來，帶走了秋末殘暑，我不會唱客家山……
        <a href="221021">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>重返樟之細路：再唱一段老山歌</strong><br>
        樟之細路在變，人也在變，而這也是為什麼我們會懷念從前。風從西邊的溪谷吹拂上來，帶走了秋末殘暑，我不會唱客家山……
        <a href="221021/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="220812/image/20220730_134852_MSTW.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>山海圳：撩撥心弦大圳之路</strong><br>
        當午時溽熱退去，向晚微涼悄悄籠罩你與我之間，空氣都有點兒甜甜的，一如每個人此時此刻淡淡的笑容。在今晚落腳的大……
        <a href="220812">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>山海圳：撩撥心弦大圳之路</strong><br>
        當午時溽熱退去，向晚微涼悄悄籠罩你與我之間，空氣都有點兒甜甜的，一如每個人此時此刻淡淡的笑容。在今晚落腳的大……
        <a href="220812/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="220527/image/280332421_761627338553412_6707768273805746426_n.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>嘉義北港行：尋覓東洋製糖鐵道</strong><br>
        熟悉的大圳，熟悉的十字路口，同樣是多雲有風的天氣，不同的是我們身旁多了幾位好夥伴。繼上次一起去郡大跟無雙溫泉……
        <a href="220527">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>嘉義北港行：尋覓東洋製糖鐵道</strong><br>
        熟悉的大圳，熟悉的十字路口，同樣是多雲有風的天氣，不同的是我們身旁多了幾位好夥伴。繼上次一起去郡大跟無雙溫泉……
        <a href="220527/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="220513/image/20220416_120919_.JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>流浪到二水：嘉南大圳騎食之旅</strong><br>
        抑鬱的雲逐漸散開，陽光灑落翠綠田野，我們歡快地馳騁在湛藍流水旁，輕鬆得彷彿乘著初夏的風。山腰上是純樸的南湖村……
        <a href="220513">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>流浪到二水：嘉南大圳騎食之旅</strong><br>
        抑鬱的雲逐漸散開，陽光灑落翠綠田野，我們歡快地馳騁在湛藍流水旁，輕鬆得彷彿乘著初夏的風。山腰上是純樸的南湖村……
        <a href="220513/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="210530/image/800_db32534f28540615684703bdd2f38d8b.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>一個人的細路日常</strong><br>
        「所謂旅行，就是走進另一群人的日常。」已經忘記是從哪兒讀到這句話，深深改變我對旅行的理解。我想起前年秋天走在……
        <a href="210530">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>一個人的細路日常</strong><br>
        「所謂旅行，就是走進另一群人的日常。」已經忘記是從哪兒讀到這句話，深深改變我對旅行的理解。我想起前年秋天走在……
        <a href="210530/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="190225/image/20190219_102508_Ropwe.JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>南澳部落深旅行</strong><br>
        話音剛落，我和葉大哥幾乎同時看見在這條獸徑的下方山谷中，有一對很亮很亮的光點。「牠是長鬃山羊。」大哥興奮地說……
        <a href="190225">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>南澳部落深旅行</strong><br>
        話音剛落，我和葉大哥幾乎同時看見在這條獸徑的下方山谷中，有一對很亮很亮的光點。「牠是長鬃山羊。」大哥興奮地說……
        <a href="190225/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

  </div>
</div>