<div class="row" id="dajiama">
  <div lang="en"> 
    <h3>Dajia Mazu Pilgrimage</h3>
  </div>
  <div lang="zh"> 
    <h3>大甲媽祖朝聖之路</h3>
  </div>

  <div id="fh5co-board" data-columns>
    
    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="190417/image/20190410_170813_DajiaMazuPilgrimage.JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>結緣</strong><br>
        「我們素不相識，準備那麼多點心給我們吃的點心攤，你們就是大甲媽的精神：付出。」大甲鎮瀾宮顏清標董事長在祝壽大……
        <a href="190417">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>結緣</strong><br>
        「我們素不相識，準備那麼多點心給我們吃的點心攤，你們就是大甲媽的精神：付出。」大甲鎮瀾宮顏清標董事長在祝壽大……
        <a href="190417/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="190418/image/20190407_143229_DajiaMazuPilgrimage.JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>擁擠的序幕</strong><br>
        我看見每個人猙獰的表情，心想，幸好我的身高比較高，還呼吸得到上層新鮮的空氣。幾位較瘦弱的女生被擠得哇哇叫，老……
        <a href="190418">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>擁擠的序幕</strong><br>
        我看見每個人猙獰的表情，心想，幸好我的身高比較高，還呼吸得到上層新鮮的空氣。幾位較瘦弱的女生被擠得哇哇叫，老……
        <a href="190418/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="190419a/image/20190407_183759_DajiaMazuPilgrimage.JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>酒足飯飽之夜</strong><br>
        他們是一群熱情的年輕人，帶著咖啡器具，頂著昏黃的鎢絲燈泡，耐心地、慢慢地將一杯又一杯咖啡萃取出來。雖然他們不……
        <a href="190419a">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>酒足飯飽之夜</strong><br>
        他們是一群熱情的年輕人，帶著咖啡器具，頂著昏黃的鎢絲燈泡，耐心地、慢慢地將一杯又一杯咖啡萃取出來。雖然他們不……
        <a href="190419a/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="190419b/image/yitzu_07.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>媽祖遶境文化傳承</strong><br>
        雖然他們可能只跟隨短短一段路，比如兩天一夜或三天兩夜，也可能只是來排個隊稜轎腳，但這些回憶和經驗，最終都會深……
        <a href="190419b">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>媽祖遶境文化傳承</strong><br>
        雖然他們可能只跟隨短短一段路，比如兩天一夜或三天兩夜，也可能只是來排個隊稜轎腳，但這些回憶和經驗，最終都會深……
        <a href="190419b/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="190420/image/20190407_223328_DajiaMazuPilgrimage_[c].JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>十支進香旗</strong><br>
        隨著在路上與形形色色的人交流互動，看見小到牙牙學語、老到頭童齒豁的信徒們那份堅定的熱情，我開始認同未來還想要……
        <a href="190420">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>十支進香旗</strong><br>
        隨著在路上與形形色色的人交流互動，看見小到牙牙學語、老到頭童齒豁的信徒們那份堅定的熱情，我開始認同未來還想要……
        <a href="190420/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="190421/image/20190408_125232_DajiaMazuPilgrimage.JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>舌尖上的庶民文化</strong><br>
        與啤酒所展現的豪氣不同，現剖的西瓜傳遞的是家的熱情，當我們遠遠靠近時，阿姨的眼神裡，流露出的滿是看見親人歸來……
        <a href="190421">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>舌尖上的庶民文化</strong><br>
        與啤酒所展現的豪氣不同，現剖的西瓜傳遞的是家的熱情，當我們遠遠靠近時，阿姨的眼神裡，流露出的滿是看見親人歸來……
        <a href="190421/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="190422/image/20190409_072902_DajiaMazuPilgrimage.JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>初見鑾轎</strong><br>
        原來鑾轎因為行程延誤，因此在南瑤宮時只有短暫停駕，這突如其來的加速當真讓我們措手不及，我們當機立斷，不如就在……
        <a href="190422">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>初見鑾轎</strong><br>
        原來鑾轎因為行程延誤，因此在南瑤宮時只有短暫停駕，這突如其來的加速當真讓我們措手不及，我們當機立斷，不如就在……
        <a href="190422/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="190423/image/20190410_084456_DajiaMazuPilgrimage.JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>與大甲媽賽跑</strong><br>
        我堅信，陪伴媽祖遶境考驗的不只是體力，同時也是考驗意志力，而事實上，在我們的體力真正耗竭之前，意志力會先面臨……
        <a href="190423">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>與大甲媽賽跑</strong><br>
        我堅信，陪伴媽祖遶境考驗的不只是體力，同時也是考驗意志力，而事實上，在我們的體力真正耗竭之前，意志力會先面臨……
        <a href="190423/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="190424/image/20190411_082849_DajiaMazuPilgrimage.JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>祝壽大典</strong><br>
        今天沒有揹負重裝，身體一切舉止都格外輕盈，我們跟在一位壯哥身後，順利地在人群中找到一個理想的位置，正好就在誦……
        <a href="190424">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>祝壽大典</strong><br>
        今天沒有揹負重裝，身體一切舉止都格外輕盈，我們跟在一位壯哥身後，順利地在人群中找到一個理想的位置，正好就在誦……
        <a href="190424/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="190425a/image/20190411_225610_DajiaMazuPilgrimage.JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>每一步都是顛峰</strong><br>
        第三枚起馬炮炸響後，正式宣告大甲媽離開奉天宮起駕回鑾，現場歡呼聲四起，群眾一湧而上團團包圍鑾轎，表參道盡頭開……
        <a href="190425a">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>每一步都是顛峰</strong><br>
        第三枚起馬炮炸響後，正式宣告大甲媽離開奉天宮起駕回鑾，現場歡呼聲四起，群眾一湧而上團團包圍鑾轎，表參道盡頭開……
        <a href="190425a/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="190425b/image/20190412_132559_DajiaMazuPilgrimage.JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>最後一哩路</strong><br>
        他們就是這樣年復一年地等待大甲媽來訪，在一年一次的喧囂過後，又恢復到平日裡的寧靜生活。鑾轎過後，老爺爺和老奶……
        <a href="190425b">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>最後一哩路</strong><br>
        他們就是這樣年復一年地等待大甲媽來訪，在一年一次的喧囂過後，又恢復到平日裡的寧靜生活。鑾轎過後，老爺爺和老奶……
        <a href="190425b/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="190426/image/20190411_091812_DajiaMazuPilgrimage.JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>告別媽祖的朝聖之路</strong><br>
        我想許多朋友一定會好奇，身為一個研究宇宙的人，會相信神明嗎？就像已故科學家霍金總說「上帝是不存在的」、「就算……
        <a href="190426">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>告別媽祖的朝聖之路</strong><br>
        我想許多朋友一定會好奇，身為一個研究宇宙的人，會相信神明嗎？就像已故科學家霍金總說「上帝是不存在的」、「就算……
        <a href="190426/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

  </div>
</div>