<div class="row" id="metamorphosis">
  <div lang="en"> 
    <h3>Metamorphosis</h3>
  </div>
  <div lang="zh"> 
    <h3>蛻變</h3>
  </div>

  <div id="fh5co-board" data-columns>
    
    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="170606/170606.JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>不安</strong><br>
        今年第一波梅雨的最後一天，成功嶺的介壽台廣場下起傾盆大雨。這不是我第一次到成功嶺上來，但我仍然對這裡感到相當……
        <a href="170606">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>不安</strong><br>
        今年第一波梅雨的最後一天，成功嶺的介壽台廣場下起傾盆大雨。這不是我第一次到成功嶺上來，但我仍然對這裡感到相當……
        <a href="170606/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="170608/170608.JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>魔鬼藏在細節裡</strong><br>
        「一！二！一！二！」在成功嶺行軍，一定要搭配各種答數，最常聽見的就是「精神答數」，也就是大家耳熟能詳的「雄壯……
        <a href="170608">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>魔鬼藏在細節裡</strong><br>
        「一！二！一！二！」在成功嶺行軍，一定要搭配各種答數，最常聽見的就是「精神答數」，也就是大家耳熟能詳的「雄壯……
        <a href="170608/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="170609/170609.JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>成長體驗營</strong><br>
        人們不能總是用自己的標準來要求其他人，或許那最後一步對我們來說並不那麼難，但這不代表我們可以認為對其他人而言……
        <a href="170609">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>成長體驗營</strong><br>
        人們不能總是用自己的標準來要求其他人，或許那最後一步對我們來說並不那麼難，但這不代表我們可以認為對其他人而言……
        <a href="170609/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="170610/170610.JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>塵埃落定</strong><br>
        這天是週末，班本部裡頭並沒有長官，也沒有忙碌的人來人往，空蕩的走廊顯得格外清淨，辦公室只有三位學長留守，清涼……
        <a href="170610">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>塵埃落定</strong><br>
        這天是週末，班本部裡頭並沒有長官，也沒有忙碌的人來人往，空蕩的走廊顯得格外清淨，辦公室只有三位學長留守，清涼……
        <a href="170610/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="170612/170612.JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>責任</strong><br>
        今天開始，大家的身分都稍稍有了改變，雖然仍是受訓役男，卻已經背負起為社會服務的重責大任。每個人將前往不同的地……
        <a href="170612">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>責任</strong><br>
        今天開始，大家的身分都稍稍有了改變，雖然仍是受訓役男，卻已經背負起為社會服務的重責大任。每個人將前往不同的地……
        <a href="170612/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="170613/170613.JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>勵志歌曲競賽第一名</strong><br>
        比賽這天下著雨，原本在室外進行的比賽改成了室內雨備，本來還在想說可以欣賞其他隊的創意，結果只能自己表演了。不……
        <a href="170613">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>勵志歌曲競賽第一名</strong><br>
        比賽這天下著雨，原本在室外進行的比賽改成了室內雨備，本來還在想說可以欣賞其他隊的創意，結果只能自己表演了。不……
        <a href="170613/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="170615/170615.JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>大雨中的小智障們</strong><br>
        「謝謝署長。署長再見！」偌大的禮堂出奇安靜，聽得見冷凝管落下的水滴聲。空蕩的講台上彷彿正站著署長本人，揮手與……
        <a href="170615">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>大雨中的小智障們</strong><br>
        「謝謝署長。署長再見！」偌大的禮堂出奇安靜，聽得見冷凝管落下的水滴聲。空蕩的講台上彷彿正站著署長本人，揮手與……
        <a href="170615/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="170616/170616.JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>自由的味道</strong><br>
        「雄壯、威武……」暴雨中的嘶吼，濕透了衣襟卻不減豪情，整座山嶺上突然變得好安靜，只聽見我們悠揚宏亮的歌聲。「這……
        <a href="170616">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>自由的味道</strong><br>
        「雄壯、威武……」暴雨中的嘶吼，濕透了衣襟卻不減豪情，整座山嶺上突然變得好安靜，只聽見我們悠揚宏亮的歌聲。「這……
        <a href="170616/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

  </div>
</div>