<div class="row" id="nature">
  <div lang="en"> 
    <h3>Into the Nature</h3>
  </div>
  <div lang="zh"> 
    <h3>在山路上相遇</h3>
  </div>

  <div id="fh5co-board" data-columns>
    
    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="221018/image/20220227_161202_Karaheye_3kp.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>大樹之路：米羅神殿喀拉業</strong><br>
        扁柏神殿到了。所有人停下腳步，移動的嘈雜頓然停歇，空氣安靜得只剩下心跳震動。我想大口呼吸，卻又不忍呼吸。在這……
        <a href="221018">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>大樹之路：米羅神殿喀拉業</strong><br>
        扁柏神殿到了。所有人停下腳步，移動的嘈雜頓然停歇，空氣安靜得只剩下心跳震動。我想大口呼吸，卻又不忍呼吸。在這……
        <a href="221018/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="220405/image/20210906_074959_MtBiluNorthRidge.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>合歡畢北折磨之路</strong><br>
        登山的意義究竟是什麼呢？這是個沒有標準答案的問題。在經歷一段行山歲月後，我們從不知所以然，到似懂非懂、滿腔熱……
        <a href="220405">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>合歡畢北折磨之路</strong><br>
        登山的意義究竟是什麼呢？這是個沒有標準答案的問題。在經歷一段行山歲月後，我們從不知所以然，到似懂非懂、滿腔熱……
        <a href="220405/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="211109/image/600_72416c91597cddfe99e27158e64bda30.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>南一段冰封之路</strong><br>
        關於南一段，有首打油詩這樣道：「小關難纏＼雲水無水＼卑南不死＼藤枝必亡」，述說行走這段山稜線困難之處。五天行……
        <a href="211109">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>南一段冰封之路</strong><br>
        關於南一段，有首打油詩這樣道：「小關難纏＼雲水無水＼卑南不死＼藤枝必亡」，述說行走這段山稜線困難之處。五天行……
        <a href="211109/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="210822/image/800_8761e07825354eded5e242e314671250.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>猴山岳、二格山連峰獨行</strong><br>
        我認為台北的山之所以如此具有魅力，是因為我們很容易能在都市生活圈當中找到一塊角落，這裡足夠原始，能讓人感受置……
        <a href="210822">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>猴山岳、二格山連峰獨行</strong><br>
        我認為台北的山之所以如此具有魅力，是因為我們很容易能在都市生活圈當中找到一塊角落，這裡足夠原始，能讓人感受置……
        <a href="210822/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="210622/image/800_61e2ba8532322df5572d2214a09e00b6.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>串聯緣分四秀之路</strong><br>
        我從他們身上找回從前在山中恣意玩耍的記憶，回到不再為了趕行程而整天埋頭苦走的行山歲月，而我所收穫的，是大家縱……
        <a href="210622">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>串聯緣分四秀之路</strong><br>
        我從他們身上找回從前在山中恣意玩耍的記憶，回到不再為了趕行程而整天埋頭苦走的行山歲月，而我所收穫的，是大家縱……
        <a href="210622/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="210202/image/800_3d0285114a8e20ee840d020e194087f0.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>世紀奇峰大霸之路</strong><br>
        看著小柯的車尾燈漸行漸遠，我們正告別過去習以為常的認知，縱然我們無法真正像泰雅人那樣將生命寄託於大霸尖山，但……
        <a href="210202">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>世紀奇峰大霸之路</strong><br>
        看著小柯的車尾燈漸行漸遠，我們正告別過去習以為常的認知，縱然我們無法真正像泰雅人那樣將生命寄託於大霸尖山，但……
        <a href="210202/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="201111/image/800_8f568a615347187aa2971070ba840c77.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>戒茂斯嘉明湖輕狂之路</strong><br>
        「前面的路很累嗎？」「你走了就知道。」我突然有想在這裡睡一覺的衝動，我想若是在這裡睡著，興許會進入宮崎駿筆下……
        <a href="201111">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>戒茂斯嘉明湖輕狂之路</strong><br>
        「前面的路很累嗎？」「你走了就知道。」我突然有想在這裡睡一覺的衝動，我想若是在這裡睡著，興許會進入宮崎駿筆下……
        <a href="201111/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="200916/image/600_dd610f5cd0dd4076728f594c44f8b2aa.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>八通關玉山懷舊之路</strong><br>
        我帶頭爬上階梯，迎面而來的風景令人窒息，整片鮮豔的毛地黃浸沐夕陽下，每一株都搖曳生姿。「躺下吧！」我在心裡頭……
        <a href="200916">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>八通關玉山懷舊之路</strong><br>
        我帶頭爬上階梯，迎面而來的風景令人窒息，整片鮮豔的毛地黃浸沐夕陽下，每一株都搖曳生姿。「躺下吧！」我在心裡頭……
        <a href="200916/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="200715/image/800_112366aa6338e57e9c135991be0c42e4.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>如夢一場南湖之路</strong><br>
        「如果明天雨再下成那樣，真的得考慮撤退了。」我獨自尋思著，後來我發現大家心裡頭都有一樣的想法。雖說此前我們剛……
        <a href="200715">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>如夢一場南湖之路</strong><br>
        「如果明天雨再下成那樣，真的得考慮撤退了。」我獨自尋思著，後來我發現大家心裡頭都有一樣的想法。雖說此前我們剛……
        <a href="200715/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="200608/image/800_8e2a2a0e43e918bbbf1e9bbd76c125e3_c.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>綠色古道上的藍色蜻蜓</strong><br>
        在汲汲營營的社會價值中載浮載沉的我們，都忘記童年那隻藍色的蜻蜓，只有在踏上淡蘭之路，親手撫摸被先民汗水浸濕的……
        <a href="200608">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>綠色古道上的藍色蜻蜓</strong><br>
        在汲汲營營的社會價值中載浮載沉的我們，都忘記童年那隻藍色的蜻蜓，只有在踏上淡蘭之路，親手撫摸被先民汗水浸濕的……
        <a href="200608/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="190322/image/20190313_2892_MountShikan.JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>牛稠尾山、開眼山尋幽</strong><br>
        當我們不斷探索內心的慾望，理解生命中的苦與樂，時間便會風塵僕僕地帶來堅定的信仰。很久很久以後，我學會了原來人……
        <a href="190322">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>牛稠尾山、開眼山尋幽</strong><br>
        當我們不斷探索內心的慾望，理解生命中的苦與樂，時間便會風塵僕僕地帶來堅定的信仰。很久很久以後，我學會了原來人……
        <a href="190322/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="190206/image/07.JPG"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>台北大縱走。一生一次的壯遊</strong><br>
        人生漫漫，那精疲力竭的狂野有幾多？我拖著蹣跚步履，抬頭望著天空，原來像這樣簡單呼吸著，就是我們已逝去的青春啊……
        <a href="190206">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>台北大縱走。一生一次的壯遊</strong><br>
        人生漫漫，那精疲力竭的狂野有幾多？我拖著蹣跚步履，抬頭望著天空，原來像這樣簡單呼吸著，就是我們已逝去的青春啊……
        <a href="190206/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

  </div>
</div>