<div class="row" id="tsurugi-dake">
  <div lang="en"> 
    <h3>Horizon of Immortal Realm</h3>
  </div>
  <div lang="zh"> 
    <h3>跨越仙人的境界線</h3>
  </div>

  <!-- Dynamic loading of article list -->
  <div 
    id="fh5co-board" 
    data-columns 
    data-article-ids='[
      "231031",
      "231108",
      "231114",
      "231121",
      "231128",
      "231201",
      "240116",
      "240124",
      "240127",
      "240205",
      "240222",
      "240227",
      "241110"
    ]'>
  </div>

</div>