<div class="row" id="tsurugi-dake">
  <div lang="en"> 
    <h3>Horizon of Immortal Realm</h3>
  </div>
  <div lang="zh"> 
    <h3>跨越仙人的境界線</h3>
  </div>

  <div id="fh5co-board" data-columns>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="231031/image/20230902_192658_SenninPond.jpeg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>Old-School Invitation</strong><br>
          How should I begin writing about Ura-Tsurugi? No matter what words I use, it feels impossible to fully capture the beauty of……
        <a href="./?article_id=231031">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>老派邀約</strong><br>
          關於裏剱，我一直不知道該如何下筆，總覺用任何文字描述這趟旅程都顯得黯然失色，卻又矛盾於渴望寫下些什麼，好讓我……
        <a href="./?article_id=231031&lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="231108/image/20230901_072900_ShinKurobe_4k.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>Heading to Unazuki Onsen</strong><br>
          Passing by several abandoned, unstaffed station buildings, the houses and scenery along the railway exuded a strong……
        <a href="./?article_id=231108">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>前往宇奈月溫泉</strong><br>
          經過幾處早已無人駐守的廢棄車站房，鐵道旁屋舍散發出濃厚的鄉野風情，彷彿凍結正坐在庭院看火車的老爺爺的盛年記憶……
        <a href="./?article_id=231108&lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="231114/image/20230901_091141b_KurobeGorge_4k.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>Delving into the Kurobe Gorge</strong><br>
          With a sharp whistle piercing the quiet spa town, the locomotive roared to life, emitting a deep rumble. The train swayed……
        <a href="./?article_id=231114">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>深入黑部峽谷</strong><br>
          尖銳喇叭聲劃破寂靜溫泉鄉，機車頭怒吼發出巨大低沉的轟鳴，列車搖晃著緩緩駛過重重道岔，穿行粗糙而窄小的漆黑隧道……
        <a href="./?article_id=231114&lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="231121/image/20230901_133241_KurobeGorge_4k_crop.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>下ノ廊下水平步道</strong><br>
          我低著頭，大粒汗珠從額頭直直滴落到腳邊，小粒的則沿著眼角和鼻翼再到唇上，形成涓涓細流。我抿了一口，鹹鹹的，味……
        <a href="231121">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>下ノ廊下水平步道</strong><br>
          我低著頭，大粒汗珠從額頭直直滴落到腳邊，小粒的則沿著眼角和鼻翼再到唇上，形成涓涓細流。我抿了一口，鹹鹹的，味……
        <a href="231121/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="231128/image/20230902_061306_KurobeGorge_4k_crop.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>阿曾原之夜</strong><br>
          如果能讓更多人感動而高興離開，大家都會變得更幸福。因此，為了實現這個目標，我認為自己可以繼續為這裡做一些事情……
        <a href="231128">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>阿曾原之夜</strong><br>
          如果能讓更多人感動而高興離開，大家都會變得更幸福。因此，為了實現這個目標，我認為自己可以繼續為這裡做一些事情……
        <a href="231128/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="231201/image/20230902_073228_SennindaniDam_4k_crop.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>上部軌道的驚喜邂逅</strong><br>
          隨著鐵軌磨擦聲響越來越接近，原本漆黑一片的隧道深處也慢慢被照亮，只聽見是誰不斷驚呼「這也太酷了吧！」我的內心……
        <a href="231201">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>上部軌道的驚喜邂逅</strong><br>
          隨著鐵軌磨擦聲響越來越接近，原本漆黑一片的隧道深處也慢慢被照亮，只聽見是誰不斷驚呼「這也太酷了吧！」我的內心……
        <a href="231201/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="240116/image/20230902_182335_SenninPond_4k.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>邁向仙境雲切新道</strong><br>
          夜裡，我獨自趴在窗邊靜靜地看著剱岳。回想自己在山裡過夜的種種經驗，此情此景，無疑是我的人生中，心靈最孤獨與飽……
        <a href="240116">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>邁向仙境雲切新道</strong><br>
          夜裡，我獨自趴在窗邊靜靜地看著剱岳。回想自己在山裡過夜的種種經驗，此情此景，無疑是我的人生中，心靈最孤獨與飽……
        <a href="240116/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="240124/image/20230903_072512_SenninPass_pano-cyl_4k.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>跨越仙人境界線</strong><br>
          突然間，一陣涼風從山口襲來，將我從萬千思緒中拽回現實。望著隊友們的背影，我感覺自己就像天地蜉蝣、滄海一粟。我……
        <a href="240124">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>跨越仙人境界線</strong><br>
          突然間，一陣涼風從山口襲來，將我從萬千思緒中拽回現實。望著隊友們的背影，我感覺自己就像天地蜉蝣、滄海一粟。我……
        <a href="240124/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="240127/image/20230903_092524_TsurugiValleyNorthBranch_crop.jpeg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>剱沢北股廢道探險</strong><br>
          我覺得這裡有讓人忘記時間與空間的魔力，可以從凡塵俗世的苦惱與糾結中完全抽離，在這個時刻，我可以真正為自己奮鬥……
        <a href="240127">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>剱沢北股廢道探險</strong><br>
          我覺得這裡有讓人忘記時間與空間的魔力，可以從凡塵俗世的苦惱與糾結中完全抽離，在這個時刻，我可以真正為自己奮鬥……
        <a href="240127/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="240205/image/20230903_115857_TsurugiValleyNorthBranch_4k.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>成為熟達者之路</strong><br>
          我感到時間流逝的速度變得極為緩慢，慢到每一滴汗在空氣中落下形成的擾流都清晰可見，每隔半小時看一次手錶竟只經過……
        <a href="240205">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>成為熟達者之路</strong><br>
          我感到時間流逝的速度變得極為緩慢，慢到每一滴汗在空氣中落下形成的擾流都清晰可見，每隔半小時看一次手錶竟只經過……
        <a href="240205/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="240222/image/20230904_072620_TsurugiValley_4k_c.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>雪溪崩壞</strong><br>
          偌大的斜壁上垂了一條鐵鍊與一條普魯士繩，在背景雪溪的襯托下顯得格外艱難。我們一面爬，一面聽郭大哥分享一定要去……
        <a href="240222">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>雪溪崩壞</strong><br>
          偌大的斜壁上垂了一條鐵鍊與一條普魯士繩，在背景雪溪的襯托下顯得格外艱難。我們一面爬，一面聽郭大哥分享一定要去……
        <a href="240222/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="240227/image/20230904_123319_BetsuyamaRidge_4k_c.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>步步驚心別山尾根</strong><br>
          這是一面幾乎垂直的岩牆，只能拉著鐵鍊在錨釘和巨石裂隙間游移向上，有時候舉頭搜尋前進的方向，會差點將臉貼上前方……
        <a href="240227">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>步步驚心別山尾根</strong><br>
          這是一面幾乎垂直的岩牆，只能拉著鐵鍊在錨釘和巨石裂隙間游移向上，有時候舉頭搜尋前進的方向，會差點將臉貼上前方……
        <a href="240227/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div>
        <a class="fh5co-board-img">
        <img src="241110/image/20230904_140906_MtTsurugi_4k.jpg"></a>
      </div>
      <div class="fh5co-desc">
        <div align="justify" lang="en"><strong>剱岳之巔</strong><br>
          經歷前剱和平蔵の頭洗禮，最後一段上坡顯得非常平易近人，我們在離開剱山莊將近四小時後抵達剱岳山頂，比預期晚了快……
        <a href="241110">(Read more...)</a>
        </div>
        <div align="justify" lang="zh"><strong>剱岳之巔</strong><br>
          這是一面幾乎垂直的岩牆，只能拉著鐵鍊在錨釘和巨石裂隙間游移向上，有時候舉頭搜尋前進的方向，會差點將臉貼上前方……
        <a href="241110/?lang=zh">（繼續閱讀）</a>
        </div>
      </div>
    </div>

  </div>
</div>