<div lang="en" class="seo-meta">
  <h1 class="title">The Grand Escapade</h1>
  <p class="description">
    I rediscovered the carefree joy of playing in the mountains through them, like the good old days when hiking wasn’t just about racing to stick to a schedule. What I got in return was pure, unfiltered fun and a bunch of unforgettable stories that I’ll keep coming back to, year after year.
  </p>
</div>

<div lang="zh" class="seo-meta">
  <h1 class="title">大壯遊</h1>
  <p class="description">
    我從他們身上找回從前在山中恣意玩耍的記憶，回到不再為了趕行程而整天埋頭苦走的行山歲月，而我所收穫的，是大家縱情的歡愉，以及歡愉過後留下值得年復一年反覆咀嚼的趣事。
  </p>
</div>