<div id="page-not-found" class="container">
  <div class="row">
    <div class="col-md-12 text-center">

      <div lang="en">
        <p style="display: none;"  class="title">Page Not Found......</p>
        <p style="display: none;"  class="description">Page Not Found......</p>
        <h2>404</h2>
        <h3>Oops! Lost your way......</h3>
        <p></p>
      </div>

      <div lang="zh">
        <p style="display: none;"  class="title">找不到頁面......</p>
        <p style="display: none;"  class="description">找不到頁面......</p>
        <h2>404</h2>
        <h3>哇！你迷路啦......</h3>
        <p></p>
      </div>

    </div>
  </div>
</div>