<div id="page-not-found" class="container">
  <div class="row">
    <div class="col-md-12 text-center">

      <div lang="en">
        <p style="display: none;"  class="title">Under Construction......</p>
        <p style="display: none;"  class="description">Under Construction......</p>
        <h2>Oops!</h2>
        <h3>This page is still under construction......</h3>
        <p></p>
      </div>

      <div lang="zh">
        <p style="display: none;"  class="title">施工中......</p>
        <p style="display: none;"  class="description">施工中......</p>
        <h2>噢！</h2>
        <h3>你迷路了！這裡還在施工中......</h3>
        <p></p>
      </div>

    </div>
  </div>
</div>